.post {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}
.post-header {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 10px;
    padding: 15px 15px 0px 15px;
}
.post-header-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post-info {
    margin-left: 10px;
}
.post-info > p {
    font-size: 12px;
    color: gray;
}
.post-body {
    overflow-wrap: break-word;
}
.post-body >p {
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}
.post-info > h2 {
    font-size: 15px;
}
.post-img-container{
    display:flex;
    justify-content:center;
    min-width: 100%;
}
.post-img{
    max-width: 100%;
     max-height: 100%;
}
.post-buttons {
    display: flex;
    justify-content: space-evenly;
    /* height:40px; */
}

.drawerOpen{
    transform: translateY(10%);
    /* opacity: 1; */
    transition: all 0.8s ease;
} 
.drawerClose{
    transform: translateY(-40%);
    z-index: -100;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.counts-line{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 10px;
}
.likes-count{
    display: flex; 
    justify-content: center; 
    gap: 4px;
}
.comment-div{
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 4px;
}
.comment-div-details{
    background-color: #F2F2F2;
    width: 84%;
    align-content: center;
    padding: 4px;
    border-radius: 8px;
}
.comment-div-message{
    height:10px;
}
.comment-div-layout{
    display: flex;
    justify-content: space-between;
}